/* ----------------------------------------------
|       Client: FB Store.                        |
|       Author: Mavis Wang - MDesign, Inc.     |
|       Date: 09/09/2010                         |
----------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { font-weight: normal; font-style: normal; font-size: 100%; vertical-align: baseline; font-family: Verdana, Arial, Helvetica, sans-serif; }

body { line-height: 1.2em;font-size: 12px; }

h1{font-size: 3em; font-family: Verdana, Arial, Helvetica, sans-serif;line-height:normal; text-transform: lowercase; }
ol, ul { list-style: none; }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a.underline{text-decoration: underline;}

#header { background:url(http://sphotos.ak.fbcdn.net/hphotos-ak-snc4/hs715.snc4/63502_108832499177998_100001537448809_74433_6566973_n.jpg) no-repeat; width:520px; height:113px; }

#rclogo { width:520px; height:113px; }

#container { width:520px; height:590px; background:#f3eeee; }
#container a:link { text-decoration: none; }
#container a:visited { text-decoration: none; }
#container a:hover,#container a:active { text-decoration: underline; }


#leftcol { width:106px; height:auto; float:left; padding:15px 15px 20px 15px; }
#leftcol h2 {
line-height:2em; font-size: 13px; font-weight:bold; text-transform:uppercase; }
#leftcol ul li {margin-left: -25px; text-transform:uppercase; line-height:1.5em;}

#rightcol { float:right; width:384px;padding: 15px 0 20px 0 ;}
#rightcol .thumb { width:390px; height:600px;}
#rightcol .thumb ul {padding-left:20px;}
#rightcol .thumb ul li {width:100px; height:160px; background:#fff; padding:3px; margin:4px; border:1px solid #d8dfea; float:left;}
#rightcol .thumb ul li:hover, #rightcol .thumb ul li:active { border:1px solid #627aad;}

.block {display:block;line-height:8px;padding-left:3px; margin:2px 0 4px 1px;border-left:8px solid #cd2020;}
#rightcol .thumb ul li h3 {color:#cd2020; font-size:10px; font-weight:normal;}
#rightcol .thumb ul li a {font-size:11px; color:#555; }

#rightcol .thumb ul li a span.unit{text-align:right; font-size:8px; color:#F23F72;}
#rightcol .thumb ul li a span.price{text-align:right; font-size:10px; font-weight:bold; color:#F23F72;}

/* -------------------
-      Gallery       -   
---------------------*/

#rightcol .thumb ul li div{width:100px; height:100px; text-indent:-9999px; background:url(http://sphotos.ak.fbcdn.net/hphotos-ak-snc4/hs687.snc4/62715_110954422299139_100001537448809_88428_2586627_n.jpg) no-repeat top left;}

/* row one */
.thumb ul li#c002 div { background-position:-100px 0;}
.thumb ul li#c003 div { background-position:-200px 0;}

/* row two */
.thumb ul li#c004 div { background-position:0 -100px;}
.thumb ul li#c005 div { background-position:-100px -100px;}
.thumb ul li#c006 div { background-position:-200px -100px;}

/* row three */
.thumb ul li#j001 div { background-position:0px -200px;}
.thumb ul li#j002 div { background-position:-100px -200px;}
.thumb ul li#j003 div { background-position:-200px -200px;}

/* ------------------------
-      Product Popup      -   
------------------------ */


#footer { width:520px;height:50px;background:url(http://sphotos.ak.fbcdn.net/hphotos-ak-ash2/hs339.ash2/61986_108618109199437_100001537448809_73186_4141867_n.jpg); }


